{
  "extends": ["airbnb/base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "off",
    "max-len": ["error", { "code": 300 }],
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "import/extensions": ["error", {"js": "ignorePackages"}]
  }
}
